<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Post</title>
</head>
<body>
    <h2>Edit Your Post</h2>
    <h5>Post ID : <%= post.id %> </h5>
    <h5>Username : @<%= post.username %> </h5>
    <form method="post" action="http://localhost:8080/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content"  rows="10" cols="35"><%= post.content %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>